{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="pt-4">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName, { 'label': 'Prénom' }) }}
        {{ form_row(registrationForm.lastName, { 'label': 'Nom' }) }}
        {{ form_row(registrationForm.phoneNumber, { 'label': 'Téléphone' }) }}
        {{ form_row(registrationForm.address, { 'label': 'Adresse' }) }}
        {{ form_row(registrationForm.country, { 'label': 'Pays' }) }}
        {{ form_row(registrationForm.user.email, { 'label': 'Mail' }) }}
        {{ form_row(registrationForm.user.password, { 'label': 'Mot de passe' }) }}
        {{ form_row(registrationForm.user.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
