{% extends '_layout.html.twig' %}

{% block title %}Créer un document{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('document') }}
{% endblock %}

{% block body %}
    <section class="page-content container-fluid col-12 col-lg-12">
        <h2>Créer un document</h2>
        {{ form_start(form) }}
        {{ form_row(form.fileName) }}
        {{ form_row(form.content) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
{% block dashboard %}

{% if app.user %}
        {% set auth = 'ROLE_ADMIN' in app.user.roles ? 'Administrateur' : 'ROLE_LAWYER' in app.user.roles ? 'Avocat' : 'ROLE_CLIENT' in app.user.roles ? 'Entreprise' : 'Membre' %}
<div class="row page-wrapper chiller-theme toggled">
    {% if auth is defined %}
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a>Menu Creation</a>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li>
                            <a href="{{ path('document_home') }}">
                                <i class="fas fa-caret-square-left"> </i>
                                <span>Retourner à la liste</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="header-menu">
                                <span>Champs de Publipostage</span>
                            </li>
                            {% for field in fields %}
                                <li class="text-light drag_element"><p>{{ field.label }}
                                        <a class="drag" href=""><span hidden>{{ '{{ ' ~ field.entity ~ '.' ~ field.fieldName ~ ' }}' }}</span></a></p>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="{{ path('app_logout') }}">
                    <i class="fa fa-power-off"> </i>
                </a>
            </div>
        </nav>
    {% endif %}
    {% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script>
        'use strict';
        CKEDITOR.disableAutoInline = true;

        // Implements a simple widget that represents contact details (see http://microformats.org/wiki/h-card).
        CKEDITOR.plugins.add('hcard', {

            init: function(editor) {
                editor.on('paste', function(evt) {
                    let regexp1 = / \}\}<[^>]*>/g;
                    let regexp2 = /<[^>]*>\{\{ /g;
                    let target = /<a href="http:\/\/.*">/g;
                    let data = evt.data.dataValue;
                    let preResult = evt.data.dataValue.replace(regexp1, '');
                    const result = preResult.replace(regexp2, '').split('.');
                    if (!target.test(data)) {
                        return;
                    }
                    evt.data.dataValue = '<span id="' +
                        result[1] + '" class="h-card">' + Translator.trans(result[1]) + '<a class="hide">' + '\{\{ ' +
                        preResult.replace(regexp2, '') + ' \}\}' + '</a>' + '</span>\n';
                });
            }
        });
    </script>
{% endblock %}
