{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('style_dashboard') }}
{% endblock %}
{% block dashboard %}
{% if app.user %}
        {% set auth = is_granted('ROLE_ADMIN') ? 'Administrateur' : is_granted('ROLE_LAWYER') ? 'Avocat' : is_granted('ROLE_CLIENT') ? 'Entreprise' : 'Membre' %}
<div class="row page-wrapper chiller-theme">
    {% if auth is defined %}
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="">Menu {{ auth }}</a>
                    <div id="show-sidebar">
                        <i class="fas fa-arrow-circle-right"> </i>
                    </div>
                    <div id="close-sidebar">
                        <i class="fas fa-arrow-circle-left"> </i>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Général</span>
                        </li>
                        <li>
                            <a href="{{ path('dashboard_home') }}">
                                <i class="fa fa-tachometer-alt"> </i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('dashboard_profile') }}">
                                <i class="fas fa-address-card"> </i>
                                <span>Mon profil</span>
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="header-menu">
                                <span>Administration</span>
                            </li>
                            <li>
                                <a href="{{ path('article_index') }}">
                                    <i class="fas fa-rss-square"> </i>
                                    <span>Gestion du blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-gavel"> </i>
                                    <span>Gestion des avocats</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('dashboard_admin_clients') }}">
                                    <i class="fas fa-users-cog"> </i>
                                    <span>Gestion des clients</span>
                                </a>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-folder"> </i>
                                    <span>Gestion des documents</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="{{ path('document_home') }}">Voir tous les documents</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('document_new') }}">Ajouter un document</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% elseif is_granted('ROLE_LAWYER') %}
                            <li class="header-menu">
                                <span>Espace de travail</span>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-users"> </i>
                                    <span>Mes clients</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="">Jean Dupond</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-folder-open"> </i>
                                    <span>Dossiers en cours</span>
                                    <span class="badge badge-pill badge-danger">1</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="">Création SAS - Jean Dupond (04/06/2020)</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {%  elseif is_granted('ROLE_CLIENT') %}
                            <li class="header-menu">
                                <span>Espace de travail</span>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-file-alt"> </i>
                                    <span>Mes documents</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="">Document 1</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-folder-open"> </i>
                                    <span>Dossiers en cours</span>
                                    <span class="badge badge-pill badge-danger">1</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="">Création SAS (04/06/2020)</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li class="header-menu">
                                <span>Un projet à créer ?</span>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fas fa-project-diagram"> </i>
                                    <span>Je crée une entreprise!</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="header-menu">
                                <span>Gestion des Champs</span>
                            </li>
                            <li>
                                <a href="{{ path('field') }}">
                                    <i class="far fa-plus-square"> </i>
                                    <span>Ajouter un champ</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
            </div>
        </nav>
    {% endif %}
    {% endif %}
    {% endblock %}
    {% block body %}

    {% block footer %}
        {% include '_footer.html.twig' %}
    {% endblock %}
</div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('js_dashboard') }}
    {% endblock %}
