<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}IzyContrat{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}


{% block dashboard %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{{ render(controller('App\\Controller\\SecurityController::login', {  } )) }}
</body>
</html>
