{% extends '_layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <style>
        .avatar {
            height: 100px;
            border-radius: 50%;
        }
    </style>
    <section class="page-content container-fluid col-12 col-lg-10">
        <div>
            <h3 class="col-12 col-lg-10">Profil</h3>
            <img class="avatar" src="{{ user.profilePicture }}" alt="photo de {{ person.firstname }} {{ person.lastname }}">
            <p>{{ person.firstname }} {{ person.lastname }}</p>
            <p>{{ user.email }}</p>
            <p>{{ person.phoneNumber }}</p>
            <p>{{ person.address }}</p>
        </div>

    </section>
{% endblock %}
