{% extends '_layout.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <section class="page-content container-fluid col-10 col-lg-10 pb-4">
        <h2>Inscription</h2>
        <div class="">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-secondary offset-11">{{ button_label|default('Valider') }}</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
