{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-secondary offset-11">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
        {% block stylesheets %}
            {{ encore_entry_link_tags('article') }}
        {% endblock %}
