{% extends '_layout.html.twig' %}

{% block title %}Izy Contrat - Blog{% endblock %}

{% block body %}
    <section class="blog page-content container-fluid">
        <h2 class="offset-3">Blog</h2>
        {% for post in posts %}
            <div class="card col-10 col-md-6 offset-1 offset-md-3">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title">{{ post.title }}</h3>
                    <p class="card-text">{{ post.text }}</p>
                </div>
                <a href="" class="btn btn-primary offset-3 offset-sm-6 offset-md-6 offset-lg-7">Voir l'article</a>
                <p class="sign">Le {{ post.date|date("d/m/Y") }} écrit par <span class="gold">{{ post.lawyer }}</span></p>
            </div>
        {% endfor %}
    </section>
{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}
