{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <div class="card col-6 offset-3 mb-3">
        <div class="card-body">
            <h3 class="card-title">{{ article.title }}</h3>
                <p class="card-text">{{ article.text }}</p>

            <p class="sign">Le {{ article.createdAt|date("d/m/Y") }} écrit par <span
                        class="gold">{{ article.createdBy.email is defined ? article.createdBy.email }}</span>
            </p>
            <div class="d-flex justify-content-end">
                <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary mx-2"><i
                            class="fas fa-pen"></i></a>
            </div>
        </div>
    </div>

    <a href="{{ path('article_index') }}"><i class=" my-5 fas fa-arrow-alt-circle-left fa-5x offset-6"></i></a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
