{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <section class="article">
                    {% for category, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <h2 class="mb-5">Articles</h2>
                    <div class="card mb-3">
                        <div class="container">
                            <div class="row">
                                <div class="col-12"><h3 class="card-title mt-2 text-center">{{ article.title }}</h3></div>
                                <div class="col-12">
                                {% if article.image is not null %}
                                <div><img class="fullArticleImage" src="{{ vich_uploader_asset(article, 'imageFile') }}"
                                                        alt={{ article.title }}/></div>
                                        {% endif %}
                                            <p class="card-text">{{ article.text|raw }}</p>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-10">
                                        <p class="mb-0">Le {{ article.createdAt|date("d/m/Y") }} écrit par <span
                                                    class="gold">{{ article.createdBy.email is defined ? article.createdBy.email }}</span>
                                        </p>
                                    </div>
                                    <div class="col-1">
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('article_edit', {'id': article.id}) }}"
                                           class="btn btn-primary"><i
                                                    class="fas fa-pen"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-5">
            </div>
            <div class="col-12 mb-2 text-center">
                <a href="{{ path('article_index') }}"><i class=" my-5 fas fa-arrow-alt-circle-left fa-5x"></i></a>
            </div>
            <div class="col-5">
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article') }}
{% endblock %}
